.ButtonLogin {
    width: 100px;
    height: 20px;
    border-radius: 4px;
    border: none;
    background: rgb(123, 134, 155);
    font-size: 16px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifs;
    margin: 10px;
}   

.button:hover {
    cursor: pointer;
    background: rgb(20, 17, 202);
}
