.inverterTexto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.inverterTexto input {
    padding: 10px;
    font-size: 16px;
}

.inverterTexto button {
    padding: 10px;
    cursor: pointer;
}