@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.ligado {
    width: 120px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background: rgb(17, 124, 7);
    font-size: medium;
    color: white;
    margin: 10px;
}

.desligado {
    width: 120px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background: rgb(153, 11, 11);
    font-size: medium;
    color: white;
    margin: 10px;
}