.formNome {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.formNome input {
    padding: 10px;
    font-size: 16px;
}

.formNome button {
    padding: 10px;
    cursor: pointer;
}

.erro {
    color: red;
}

.sucesso {
    color: green;
}