.formSenhaRender {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.formSenhaRender input {
    padding: 10px;
    font-size: 16px;
}

.erro {
    color: red;
}

.sucesso {
    color: green;
}